* {
  box-sizing: border-box;
}

body {
  background: rgb(34, 40, 49);
  color: rgb(0, 173, 181);
  line-height: 1.6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em;
}

a {
  text-decoration: none;
  color: rgb(0, 173, 181);
}

a:hover {
  color: #c9e6ff;
}
.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
}

.brand span {
  color: rgb(238, 238, 238);
}

.wrapper {
  box-shadow: 0 0 20px 0 rgb(0, 173, 181);
  border-radius: 3%;
}

/* FORM STYLES */
.contact form {
  display: block;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #c9e6ff;
}

.contact form button {
  background: rgb(0, 173, 181);
  border: 0;
  text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
  background: rgb(175, 251, 255);
  color: rgb(57, 62, 70);
  outline: 0;
  transition: background-color 2s ease-out;
}

.alert {
  text-align: center;
  padding: 10px;
  background: rgb(0, 173, 181);
  color: rgb(57, 62, 70);
  margin-bottom: 10px;
  display: none;
}

/* LARGE SCREENS */
@media (min-width: 500px) {
  .wrapper {
    display: block;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}
